<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
            border-collapse: collapse;
            margin: 0 auto 0 auto;
        }

        table th, td {
            border: 1px solid black;
            text-align: center;
        }

        div {
            text-align: right;
        }
    </style>
</head>
<body>
<!-- 登录信息部分 -->
<div>
    <span th:if="${session.loginInfo.empPosition == 'emperor'}">恭请皇上圣安</span>
    <span th:if="${session.loginInfo.empPosition == 'minister'}">给<span th:text="${session.loginInfo.empName}"></span>大人请安</span>
    <a th:href="@{/auth?method=logout}">退朝</a>
</div>

<!-- 数据显示部分 -->
<table>
    <thead>
    <tr>
        <th>奏折标题</th>
        <th>内容摘要</th>
        <th>上疏大臣</th>
        <th>上疏时间</th>
        <th>奏折状态</th>
        <th>奏折详情</th>
    </tr>
    </thead>
    <tbody th:if="${#lists.isEmpty(memorialsList)}">
    <tr>
        <td colspan="6">没有人上过折子</td>
    </tr>
    <tbody th:if="${not #lists.isEmpty(memorialsList)}"></tbody>
    <tr th:each="memorials : ${memorialsList}">
        <td th:text="${memorials.memorialsTitle}"></td>
        <td th:text="${memorials.memorialsContentDigest}"></td>
        <td th:text="${memorials.memorialsEmpName}"></td>
        <td th:text="${memorials.memorialsCreateTime}"></td>
        <td th:text="${memorials.memorialsStatus}"></td>
        <td>
            <a th:href="@{/work?method=detail}">奏折详情</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>